* {
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    margin: 0;
    padding: 0;
    top: 0px;
    right: 0px;



}

/* navigation */
.top-wrap {
    background: #191919;
    position: absolute;
    z-index: -1;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.top-wrap .container-x1 {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-right: auto;
    margin-left: auto;
    
}

.navbar-brand {
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    text-align: center;

}

.navbar-brand .flaticon {
    font-size: 40px;
    color: #c18e3c;
    line-height: .7;

}

.navbar-brand span {
    color: #fff;
    display: block;
    line-height: 1;
}

.navbar-brand span small {
    display: block;
    font-size: 11px;
    color: #c18e3c;
    font-weight: 700;
}

.topper {
    font-size: 15px;
    width: 100%;
    z-index: 3;
    position: relative;
}

.topper .icon {
    width: 40px;
    height: 40px;
    background: #c18e3c;
}

.topper .icon span {
    color: #fff;
}

.topper .text {
    width: calc(100% - 40px);
}

.topper .text .con {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
}

.topper .text .con span:first-child {
    color: #c18e3c;
}

.topper .text .con span {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.topper .text .hr span {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}

.topper .text p {
    margin-bottom: 0;
    font-size: 12px;
}

.navbar-brand .flaticon img {
    width: 100%;
}

.topper .text-md-right {
    text-align: right;
}

.topper .text {
    padding: 0 10px;
}

/* Navbar */
.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
}

.ftco-navbar-light .container-xl {
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    background: #262626 !important;
    z-index: 0;
    position: relative;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-nav .nav-items .nav-link {
    font-size: 13px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* navbar Old */

/* .material-symbols-outlined {
    margin: 20px 50px;
    width: 30px;
    height: 25px;
    background: #c18e3c;
    border-radius: 2px;
    color: #ffff;
}

.con {
    margin: auto;
    font-size: 13px;
    font-weight: 500;
    color: #ffff;
}

.name {
    margin: auto;
    font-size: 30px;
    font-weight: 500;
    color: #ffff;
}

.name-1 {

    margin: auto;
    font-size: 20px;
    font-weight: 200;
    color: #ffff;
}


.nav-item{
    padding: 0px 30px;
}

.navbar {
    margin: auto;
    width: 100%;
    border-radius: 10px;

} */

.contact {
    background-color: #c18e3c;
    border: 1px solid #c18e3c;
    color: #ffff;
    padding: 16px 48px;
    text-decoration: none;
}

.contact-nav {
    background-color: #c18e3c;
    border: 1px solid #c18e3c;
    color: #ffff;
    padding: 10px 20px;
    text-align: center;

    text-decoration: none;
    border-radius: 20px;
}

/* carousels */
.carousels {
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    margin-top: 290px;
    left: 0px;
}

.carousel-inner .carousel-caption {
    padding: 125px 500px 200px 0px;
    letter-spacing: 1px;
    text-align: left;

}


.carousel-caption .carousel-heading {
    padding: 0px 0px 50px 0px;
    font-size: 50px;


}

.carousel-caption .carousel-des {
    padding: 0px 0px 50px 0px;

}

.header .carousel-item img {
    opacity: 0.7;
}

.header .carousel-item {
    background: #000;
}

.section-work-data div {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    /* background-color: #000; */
    /* color: #fff; */
    text-align: center;
}



.about-con {
    text-align: center;
    margin: 0;
    color: white;
    padding: 50px;
}

.Case {

    margin-top: 50px;
    padding-bottom: 50px;
}

.card {
    margin: 20px;
}

.case-heading {
    text-align: center;
    margin: 0;
    padding: 50px;
}

.touch {
    background-color: #c18e3c;
    color: #fff;
    padding: 50px;
    
}

.touch p {
    margin-left: 156px;
}

.contact-side {
    background-color: #000000;
    border: 1px solid #c18e3c;
    color: #ffff;
    padding: 11px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    
}

/* section-work-data */
/* .section-work-data .container-x1 {
    margin-top: 800px;
    position: relative;
    z-index: 1;
    color: white;

} */
/* ftco-section */
.ftco-section .count{
    padding: 3em 0;
    position: relative;
    width: 100%;
    margin-top: 880px;
}
.ftco-counter .counter-wrap {
    width: 100%;
    padding: 20px;
    background: #191919;
}
.ftco-counter .icon {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}
.ftco-counter .text {
    width: calc(100% - 90px);
}
.ftco-counter .text .number {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    /* display: inline-block; */
    margin-bottom: 5px;
}
.ftco-counter .text p {
    display: inline-block;
    font-size: 12px;
    color: #c18e3c;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

/* about */
#about {
    
    background-color: #000;
    padding-bottom: 50px;    
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    margin-top: 1075px;
    padding-top: 100px;
    padding-bottom: 500px;
    bottom: 0;

}
#video {
    width: 50%;
    margin-left: 190px;
    margin-top: 420px;
    position: relative;
    z-index: 1;
    align-items: center;
    
}

/* ftco-section bg-light */
.ftco-section .Cases{
    padding: 100px 100px;
}
/* testimonial section */
.testimonial-area {
    padding: 80px 0;
}

.section-header {
    padding-bottom: 15px;

}

.section-header h2 {
    font-weight: 700;

}

.section-header p {
    color: #c18e3c;
    width: 40%;
    margin: auto;
}

.icon-area {
    text-align: center;
}

.icon-area i {
    color: #c18e3c;
    font-size: 80px;
    margin-bottom: 20px;
    width: 100px;
    
}

.content p {
    padding-top: 40px;
    color: #000000;
    width: 60%;
    margin: auto;

}

.person {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #c18e3c;
    margin-top: 50px;
}

.person img {
    width: 100%;

}

.content h5 {
    font-weight: 900;
    margin-top: 15px;
}

.carousel-indicators {
    bottom: -80px;
}

.carousel-indicators [data-bs-target] {
    width: 60px;
    height: 10px;
    background-color: #c18e3c;
}

/* touch2 */
.touch2 {
    background-color: #c18e3c;
    color: #fff;
    padding: 50px;

}

.touch2 div {

    text-align: center;

}

.touch2 .container div {
    background-color: #000;
    border: 1px solid #c18e3c;
    color: #ffff;
    padding: 11px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;

}

/* footer */
.icon .col-md-5 {
    margin: auto;
}

/* cases */
.heading-section .subheading {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #c18e3c;
    text-transform: uppercase;
    font-weight: 700;
}

.cases-area .img {
    width: 100%;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cases-area .text .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #000000;
    margin-top: -70px;
    margin-bottom: 10px;
}

.cases-area .text .icon span {
    color: #c18e3c;
    font-size: 40px;
}

.flaticon-law a img {
    width: 100%;
}

.cases-area .text h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.cases-area .text h3 a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.cases-area .text p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

/* .container-x1 .row {
    padding: 0 60px;
} */

/* media */
@media(max-width: 767px) {
    .navbar-brand .flaticon img {
        width: 20%;
    }
    .navbar .navbar-toggler .navbar-toggler-icon{
        color: #fff;
        background-color: #fff;
   
    }

    .topper .text-md-right {
        text-align: left;
    }
    #carousel-1{
       display: none;

    }
    .ftco-section .count{
        position: relative;
        z-index: 0;
        margin-top: 200px;
    }
    #about{
        margin-top: 0px;
        padding-bottom: 0px;
        position: relative;
        z-index: 1;

    }
    #video{
        width: 100%;
        position: absolute;
        z-index: 1;
        margin-top: 1600px;
    }
    .touch{
    padding: 10px;
    }
    .touch p{
        text-align: left;
        margin-left: 10px;
    }
    .touch h1{
        font-size: 30px;
     text-align: left;
    }
    .touch a{
        padding: 0px;
        height: 35px;
        width: 170px;
        border-radius: 0px;
        font-size: 15px;
        margin-top: 40px;
    }
    .touch2 .container div {
            padding: 0px 0px;
            text-align: center;
            text-decoration: none;
            border-radius: 0px;
            font-size: 13px;
    }
    .ftco-section .Cases{
        margin-top: 100px;
    }
    




}